<section id="wrapper">
    <div class="login-register" style="background-image:url(../../assets/images/metal.jpg);">
        <div class="register-box card">
            <div class="card-body">
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="onSubmitRegister()" class="form-horizontal form-material" id="loginform" action="index.html">
                    <div class="register-logo">
                        <a [routerLink]="['']">
                          <h1 class="head-title">
                            <img src="../assets/images/Acerinox.png">
                            <br>
                            <b>{{title}}</b>
                          </h1>
                        </a>
                      </div>
                      <h3 class="login-box-msg">Registro</h3>
                      <div *ngIf="errorMessage">
                        <div class="alert alert-info" role="alert">
                          <strong>Error!</strong> {{errorMessage}}
                        </div>
                      </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" formControlName="surname"  name="surname" class="form-control" placeholder="Apellido" required>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" formControlName="secondsurname" name="secondsurname" class="form-control" placeholder="Segundo Apellido" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" formControlName="password" name="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" formControlName="password2" name="cpassword" class="form-control" placeholder="Confirmar Contraseña" required>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                        <p class="text-red">Las contraseñas deben ser iguales</p>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-success p-t-0">
                                <input formControlName="terms" id="checkbox-signup" type="checkbox"  class="filled-in chk-col-light-blue">
                                <label for="checkbox-signup"> Acepto todos los <a href="javascript:void(0)">Terminos</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center p-b-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿Tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Iniciar Sesión</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>